{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}


{% if social_values.icons == '1' %}
  {% set main_class = 'floating-social-icons-top' %}
  {% set sub_class = 'floating-horizontal' %}
{% else %}
  {% set sub_class = 'floating-vertical' %}
{% endif %}





<div id="floating-icons">
	<div class="{{ main_class }} floating-social-icons-top">
  	<div class="{{ sub_class }}">
			<a title="link to facebook" class="facebook pop-upper" href="{{ social_values.facebook }}">
			<span class="fa fa-facebook"></span>
			</a>
		</div>
    
   	<div class="{{ sub_class }}">
			<a title="link to google-plus" class="google-plus pop-upper" href="{{ social_values.google_plus }}">
				<span class="fa fa-google-plus"></span>
			</a>
		</div>

  	<div class="{{ sub_class }}">
			<a title="link to linkedin" class="linkedin pop-upper" href="{{ social_values.linkedIn }}">
				<span class="fa fa-linkedin"></span>
			</a>
		</div>

		<div class="{{ sub_class }}">
			<a title="link to twitter" class="twitter pop-upper" href="{{ social_values.twitter }}">
				<span class="fa fa-twitter"></span>
			</a>
		</div>

		<div class="{{ sub_class }}">
			<a title="link to pinterest" class="pinterest pop-upper" href="{{ social_values.pinterest }}">
				<span class="fa fa-pinterest"></span>
			</a>
		</div>

		<div class="{{ sub_class }}">
			<a title="link to instagram" class="instagram pop-upper" href="{{ social_values.instagram }}">
				<span class="fa fa-instagram"></span>
			</a>
		</div>
	</div>
</div>

